html,
body {
  background-color: #2f4974; 
  height: 100%;
  width: 100%;
  font-family: 'Orbitron', sans-serif !important;
  
}

#head {
  font-size: 1.7em;
  color: #afaa3c;
  text-shadow: 2px 2px black;
}

#calc {
  text-align: center;
}

#body {
  border: 2px solid #afaa3c;
  background-color: #af3c3c;
  border-radius: 25px;
  box-shadow: 7px 7px 5px black;
  max-width: 350px;
}

button {
  font-family: 'Russo One', sans-serif !important;
  font-weight: 200 !important;
  font-size: 1.7em !important;
}

input {
  color: white !important;
  font-family: 'Orbitron', sans-serif !important;
/*   border: 1px solid black !important; */
/*   background-color: black !important; */
  font-size: 1.2em !important;
  text-align: right !important;
  letter-spacing: 2px;
}